.card{
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.8);
    transition: transform 0.2s ease;
    margin-bottom: 20px;
}
.card:hover{
    transform: translateY(-5px);
}

.title{
    font-size: 1.4rem;
    margin-top: 10px;
}

.description{
    color: #555;
    margin-bottom: 15px;
}

.button{
    background-color: #0d6efd;
    border: none;
    padding: 10px 14px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.button:hover{
    background-color: #0b5ed7;
}

