.main {
  border: 1px solid #08a3f7; 
  padding: 25px;
  text-align: center;
  height: 100vh;
  display: grid;
  place-content: center;
}
.main h2{
  font-size: 2rem; 
}
.main h1, h2 {
  text-align: center;
  font-family: Helvetica ;
}
.main h1{
  text-align: center;
  font-family: Helvetica ;
  font-size: 3rem;
  font-weight: bold;
}
.fecha {
  text-align:right;
}