#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.datos {
  border: 1px solid #ccc;
  padding: 1em;
  box-shadow: 0px 0px 50px #96faf2;
}

#Lcapital{
  font-size: 1.5em;
  color: #e58806;
  text-shadow: -5px -5px 15px #6d9491;
}
